*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: rgb(243, 238, 243);
   background-size: cover;
   background-repeat: no-repeat; 
}
.header{
    height: 100px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.672);
    
    border-bottom-left-radius: 80px;
}
.header .head ul{
display: flex;
list-style-type: none;
justify-content: space-evenly;
padding-top: 20px;
padding-left: 0px;
margin-left: 40px;
}
.header .head ul li{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
   
    
   padding-top: 5px;
   padding-left: 10px;
   padding-right: 10px;
   
   
}
.header .head ul li a{
     text-decoration: none;
     color: rgb(8, 8, 141);
     
    
}
.header .head ul li a:hover{
   color: orange;
    
}
.entities{
    margin-top: 50px;
    
}
.entities .costomer_list{
 margin-right: 80vh;  
 margin-top: 100px; 

background-color: none;
 
}
.entities .costomer_list .list ul{
    display: flex;
    padding-top: 30px;
    list-style: none;
    background-color: rgb(6, 9, 73);
    justify-content: space-evenly;
    margin-top: 20px;
     padding-bottom: 20px;
    color: rgb(236, 238, 230); font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: -70px;

border-bottom-right-radius: 8mm;
border-top-right-radius: 8mm;
}


.img{
    display: flex;
   margin-left: 60vw;
   margin-top: -92vh;
   z-index: 20;
}
img{
    height: 100vh;
    clip-path: circle(50% );
}