*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background-image: url(../assets/pictures/another-fruit.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-color: green;
 background-blend-mode:;
 filter:hue-rotate()
}

.header{
    height: 100px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.672);
    border-bottom-left-radius: 80px;
}
.header .head ul{
display: flex;
list-style-type: none;
justify-content: space-evenly;
padding-top: 20px;
padding-left: 0px;
margin-left: 40px;
}
.header .head ul li{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
   
    
   padding-top: 5px;
   padding-left: 10px;
   padding-right: 10px;
   
   
}
.header .head ul li a{
     text-decoration: none;
     color: rgb(8, 8, 141);
     
    
}
.header .head ul li a:hover{
   color: orange;
    
}

/* main */
.body {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-left: 10vh;
    
}
.body .container h1{
    font-size: 80px;
    color: rgb(7, 7, 131);
    font-family: 'Shizuru', cursive;

}
.body .container h2{
    padding-left: 15vh;
    font-size: 50px;
    color: rgb(243, 216, 59);
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}
.body .container p{
    width: 60vh;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.btn{
    margin-top: 60px;
    margin-left: 10vh;
    height: 60px;
    width: 250px;
    font-size: 20px;
    color: white;
    background-color: rgb(23, 23, 167);
    border: solid 0 ;
    border-radius: 2mm;
    box-shadow: 0px 0px 20px  rgb(80, 77, 226) ;

}
.btn:hover{
  
    border-radius: 2mm;
    box-shadow: 0px 0px 12px 5px rgb(80, 77, 226) ;

}
.sign-int-to{
    margin-left: 70vw;
    margin-top: -35vw;
    width: 55vh;
    height: 40vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    /* background-image: url(./fruits.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-image:url(../assets/pictures/candy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   border-radius: 3mm;
   box-shadow: 0 0 30px 5px white;
    
}

.top-signin{
   animation: comeup 3s forwards; 

}
@keyframes comeup{
    0%{
        transform: translateY(300px);
    }
    100%{
        color: red;
    }
}
.sign-int-to .inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-int-to label{
    font-size: 22px;
    color: rgb(255, 196, 0);
    font-size: 25px;
}
.sign-int-to input{
    height: 55px;
    width: 300px;
    border-radius: 1mm;
    border: solid 0 ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color:rgb(31, 31, 31);
   padding-left: 20px;
   font-size: 23px;
}
.sign-int-to .signup{
    height: 60px;
    width: 200px;
     margin-top: 20px;
     background-color: blue;
     border: solid 0;
     color: white;
     font-size: 20px;
}
.form{
    
    margin-left: 70vw;
    margin-top: -25vw;
    width: 55vh;
    height: 70vh;
    
    
    justify-content: center;
    align-items: center;
    /* background-image: url(./fruits.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-image:url(../assets/pictures/candy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   border-radius: 3mm;
   box-shadow: 0 0 200px 200px white;
   display: none;
}

.form .inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form label{
    font-size: 22px;
    color: rgb(255, 183, 0);
    font-size: 25px;
}
.form input{
    height: 55px;
    width: 300px;
    border-radius: 1mm;
    border: solid 0 ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color:rgb(31, 31, 31);
   padding-left: 20px;
   font-size: 23px;
}
.form .signup{
    height: 60px;
    width: 200px;
     margin-top: 20px;
     background-color: blue;
     border: solid 0;
     color: white;
     font-size: 20px;
}

.trans{
    animation:form 2s forwards;
    display: flex;
}
@keyframes form{
    0%{
        
        transform: translateX(500px);
    }
    100%{
        display: flex;
        transform: translateX(0px);
    }
}