*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: rgb(243, 238, 243);
   background-size: cover;
   background-repeat: no-repeat; 
}
.header{
    height: 100px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.672);
    border-bottom-left-radius: 80px;
}
.header .head ul{
display: flex;
list-style-type: none;
justify-content: space-evenly;
padding-top: 20px;
padding-left: 0px;
margin-left: 40px;
}
.header .head ul li{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
   
    
   padding-top: 5px;
   padding-left: 10px;
   padding-right: 10px;
   
   
}
.header .head ul li a{
     text-decoration: none;
     color: rgb(8, 8, 141);
     
    
}
.header .head ul li a:hover{
   color: orange;
    
}

.card{
    height: 55vh;
    width: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 20px;
    border-radius: 4mm;
    box-shadow: 0px 0px 5px  white ;

}
.card img{
    width: 25vh;
    height:30vh ;
}


   
    

.btns .ebay{
   height: 35px;
    width: 50px;
   margin-right: 20px; 
  border: solid 0px;
  border-radius: 1mm;
}
.cart{
    background-color: rgb(32, 32, 226);
    color: white;
}
.buy{
    background-color: rgb(16, 179, 16);
    color: white;
}
.product_list{
width: 100vw;
margin-top: 10vh;
display: flex;

}
.navbar{
    width: 35vh;
    height: 100vh;
    background-color: white;
    color: rgb(40, 107, 7);
    border-top-right-radius: 100px;
    border-top-left-radius: 10px;
    margin-top: -55px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar ul li{
    padding-left: 35px;
    line-height: 30px;
    list-style-type:georgian;
    margin-top: 60px;
    background: orange;
    margin-top: 10px;
}
.cards{
    width: 100vw;
    height: 80vh;
margin-left: 60px;

    
}
.card1{
    height: 40vh;
    width: 70vw;
    display: flex;
    margin-bottom: 200px;
    line-height: 50px;
   
}
.card2{
    height: 40vh;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;

}
.card{
    background-color: white;
    margin-left: 20px;
    padding-top: 10px;
    height: 60vh;
    width: 40vh;

}
.btn{
    height: 40px;
    width: 65px;
    border: solid 0px;
    margin: 10px;
    border-radius: 5mm;
}
.btn:hover{
    box-shadow: 2px 2px 5px rgba(0, 128, 0, 0.7) ;
}
img{
    height: 30vh;
    width: 25vh;
    clip-path: circle(50%);

}
@keyframes open{
    0%{
        clip-path: circle(50%); 
    }
    100%{
        clip-path: circle(100%); 
    } 
}

img:hover{
    clip-path: circle(100%); 
    animation: open 2s forwards;
}
.card h1{
   font-weight: 300;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(4, 4, 79);
}
.card h2{
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(57, 79, 4);
 }
.count{
    display: flex;
    flex-direction: column;
    width: 100px;
    
    margin-top: 30px;
    margin-left: 10px;
}
.count button{
    height: 50px;
    margin-top: 20px;
    border: solid 0;
    border-radius: 2mm;
    color: white;
    font-size: 18px;
}
.count .count-buy{
    background-color: green;
}
.count .count-order{
    background-color: rgb(23, 0, 128);
}
